body{
    background-color: rgb(225, 255, 225);
    
    /* width: 1200px; */
}

div{
    float: left;
    /* width: 1200px; */
    /* background-color: yellow; */
}
h1,h2,h3{
    
    font-family: Arial;
    /* background-color: beige; */
    /* color: yellow; */
}
header h1{
    text-align: center;

}
hr{
    float: left;
}
div#content{
    border-style: groove;
    /* min-width: 450px;
    max-width: 13000px;
    min-height: 500px;
    max-height: 3200px; */
}
audio{
   
    background-color: beige;
    width: 1000px;
    /* height: 100px; */
}
div#content div.item{
    border-style: groove;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    float: left;
    width: 410px;
   min-height: 400px;
    
    background-color: rgb(223, 205, 25);
}

div#content div#link{

    background-color: bisque;
    float: left;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 200px;
    /* height: 50px; */
    border-radius: 20px;
    text-align: center;
}

div#content div h2{
    background-color: cornflowerblue;
    width: 404px;
    float: left;
    /* width: 500; */
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    text-align: center; 
    /* background-color: rgb(100,100, 255); */
    /* font-size: 50px; */
    font-family: 'heiti', Courier, monospace;
    /* border-top: 10px; */
}
div#content div#email{
    
    background-color: bisque;
    float: left;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 400px;
    /* height: 50px; */
    border-radius: 20px;
    text-align: center;

}
footer{
    float: left;
}
